<h2>
    Help centers
</h2>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">S.no.</th>
            <th scope="col">State</th>
            <th scope="col">District</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Rajasthan</td>
            <td>Jaipur </td>
            <td>Address</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Delhi</td>
            <td>East Delhi </td>
            <td>Address</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Haryana</td>
            <td>Gurgaon

            </td>
            <td>Address</td>
        </tr>
    </tbody>
</table>